<footer>
    <div class="container border-top border-3 py-2">
        <div class="d-flex justify-content-center align-items-center ">
            <p>
                copyright &copy; 2022 <a href="https://www.linkedin.com/in/ermich-reda/" target="_blank"><i
                            class="fa-brands fa-linkedin-in fa-xl mx-1"></i>ERMIX</a>
            </p>
        </div>
    </div>
</footer>