<footer>
<div class="container border-top border-3">
        <div class="d-flex justify-content-center align-items-center ">
            <p>
                copyright &copy; 2022 <a href="#">ERMIX</a>
            </p>
        </div>
    </div>
</footer>