<header class="border-bottom border-6 mt-3 px-5 p-3">
    <nav class="d-flex justify-content-between align-items-center">
        <div class="site-title">
            <a href="/" class="text-decoration-none"><h1 class="display-1 fw-bolder text-dark mb-0">BLOG ERMIX</h1></a>
            <p class="lead text-muted">Welcome To My Blog.. </p>
        </div>
        <ul class="navbar-nav ">
            <li class="nav-item"><a href="/" class="nav-link text-center">Posts</a></li>
            <li class="nav-item"><a href="/about" class="nav-link text-center">About</a></li>
            <li class="nav-item"><a href="/posts/create" class="nav-link text-center">New Post</a></li>
        </ul>
    </nav>
</header>